<% const actionCapitalized = locals.action[0].toUpperCase() + locals.action.slice(1) %>
<% const isEdit = locals.action === 'edit' %>

<div class="container form">
  <h1 class="form__title"><%= actionCapitalized %> a Book</h1>

  <form
    class="form__form"
    action="/book/<%= `${locals.action}${isEdit && locals.book?.id ? `/${locals.book.id}` : ''}` %>"
    method="post"
  >
    <div class="form__container">
      <div class="form__input-group">
        <%- include("partials/isbn-field", { book: locals.book, errors:
        locals.errors, isEdit }) %>
      </div>

      <div class="input__wrapper">
        <label class="input__label" for="title">
          Title
          <span class="input__asterisk" aria-hidden="true">*</span>
        </label>

        <input
          class="input__field"
          type="text"
          id="title"
          name="title"
          value="<%= locals?.book?.title || '' %>"
          required
        />

        <% if (locals.errors && locals.errors.title) { %>
        <div class="input__error"><%= locals.errors.title %></div>
        <% } %>
      </div>

      <div class="form__input-group">
        <%- include('partials/select', { field: 'author_id', title: 'Author',
        elements: locals.authors, book: locals.book, errors: locals.errors }) %>

        <div>
          Can't find author?
          <a href="/author/add" class="btn--form-add" type="button">
            Add new author
          </a>
        </div>
      </div>

      <div class="form__input-group">
        <%- include('partials/select', { field: 'genre_id', title: 'Genre',
        elements: locals.genres, book: locals.book, errors: locals.errors }) %>

        <div>
          Can't find genre?
          <a href="/genre/add" class="btn--form-add" type="button">
            Add new genre
          </a>
        </div>
      </div>

      <div class="input__wrapper">
        <label class="input__label" for="cover">
          Cover Image URL
          <span class="input__asterisk" aria-hidden="true">*</span>
        </label>

        <input
          class="input__field"
          type="url"
          id="cover"
          name="cover"
          value="<%= locals?.book?.cover || '' %>"
          required
        />

        <% if (locals.errors && locals.errors.cover) { %>
        <div class="input__error"><%= locals.errors.cover %></div>
        <% } %>
      </div>

      <div class="input__wrapper">
        <label class="input__label" for="publication_year">
          Publication Year
          <span class="input__asterisk" aria-hidden="true">*</span>
        </label>

        <input
          class="input__field"
          type="number"
          id="publication_year"
          name="publication_year"
          value="<%= locals?.book?.publication_year || '' %>"
          min="1"
          max="<%= new Date().getFullYear() %>"
          required
        />

        <% if (locals.errors && locals.errors.publication_year) { %>
        <div class="input__error"><%= locals.errors.publication_year %></div>
        <% } %>
      </div>

      <div class="input__wrapper">
        <label class="input__label" for="pages">
          Number of Pages
          <span class="input__asterisk" aria-hidden="true">*</span>
        </label>

        <input
          class="input__field"
          type="number"
          id="pages"
          name="pages"
          value="<%= locals?.book?.pages || '' %>"
          min="1"
          max="20000"
          required
        />

        <% if (locals.errors && locals.errors.pages) { %>
        <div class="input__error"><%= locals.errors.pages %></div>
        <% } %>
      </div>

      <div class="input__wrapper">
        <label class="input__label" for="description">Description</label>
        <textarea
          id="description"
          name="description"
          class="input__field input__textarea"
          oninput="this.parentNode.dataset.value = this.value"
          rows="1"
        >
          <%= locals?.book?.description || '' %>
        </textarea>

        <% if (locals.errors && locals.errors.description) { %>
        <div class="input__error"><%= locals.errors.description %></div>
        <% } %>
      </div>

      <div class="input__wrapper">
        <label class="input__label" for="secret_password">
          Secret Password
          <span class="input__asterisk" aria-hidden="true">*</span>
        </label>

        <input
          class="input__field"
          type="password"
          id="secret_password"
          name="secret_password"
          required
        />

        <% if (locals.errors && locals.errors.secret_password) { %>
        <div class="input__error"><%= locals.errors.secret_password %></div>
        <% } %>
      </div>
    </div>

    <button class="btn btn--primary" type="submit">
      <%= actionCapitalized %> Book
    </button>
  </form>
</div>

<script src="/scripts/book-form.js"></script>
