<% const actionCapitalized = locals.action[0].toUpperCase() + locals.action.slice(1) %>
<% const isEdit = locals.action === 'edit' %>

<div class="container book-form">
  <h1 class="book-form__title"><%= actionCapitalized %> a Book</h1>

  <form
    class="book-form__form"
    action="/book/<%= `${locals.action}${isEdit && locals.book?.id ? `/${locals.book.id}` : ''}` %>"
    method="post"
  >
    <div class="book-form__container">
      <div class="book-form__input-group">
        <div class="input__wrapper">
          <div class="input__label-wrapper">
            <label class="input__label" for="isbn">
              ISBN
              <span class="input__asterisk" aria-hidden="true">*</span>
            </label>

            <div class="tooltip" id="tooltip">
              <button
                type="button"
                id="tooltip-btn"
                class="tooltip__btn"
                aria-describedby="tooltip-desc"
                aria-label="Fetch book data by ISBN"
              >
                <img src="/assets/icons/help.svg" alt="" />
              </button>

              <div role="tooltip" id="tooltip-desc" class="tooltip__content">
                Enter the ISBN number of the book to fetch its data
                automatically.

                <div class="tooltip__link-wrapper">
                  <a
                    class="tooltip__link"
                    href="https://isbnsearch.org/"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    Search the book's ISBN
                  </a>
                </div>
              </div>
            </div>
          </div>

          <input
            class="input__field"
            type="number"
            id="isbn"
            name="isbn"
            value="<%= locals?.book?.isbn || '' %>"
            aria-required="true"
            required
          />
        </div>

        <button id="btn-book-fetch" class="btn btn--primary" type="button">
          Fetch
        </button>
      </div>

      <div class="input__wrapper">
        <label class="input__label" for="title">
          Title
          <span class="input__asterisk" aria-hidden="true">*</span>
        </label>

        <input
          class="input__field"
          type="text"
          id="title"
          name="title"
          value="<%= locals?.book?.title || '' %>"
          required
        />
      </div>

      <div class="book-form__input-group">
        <%- include('partials/select', { field: 'author_id', title: 'Author',
        elements: locals.authors, book: locals.book }) %>

        <div>
          Can't find author?
          <button class="btn--form-add" type="button">Add new author</button>
        </div>
      </div>

      <div class="book-form__input-group">
        <%- include('partials/select', { field: 'genre_id', title: 'Genre',
        elements: locals.genres, book: locals.book }) %>

        <div>
          Can't find genre?
          <button class="btn--form-add" type="button">Add new genre</button>
        </div>
      </div>

      <div class="input__wrapper">
        <label class="input__label" for="cover">
          Cover Image URL
          <span class="input__asterisk" aria-hidden="true">*</span>
        </label>

        <input
          class="input__field"
          type="url"
          id="cover"
          name="cover"
          value="<%= locals?.book?.cover || '' %>"
          required
        />
      </div>

      <div class="input__wrapper">
        <label class="input__label" for="publication_year">
          Publication Year
          <span class="input__asterisk" aria-hidden="true">*</span>
        </label>

        <input
          class="input__field"
          type="number"
          id="publication_year"
          name="publication_year"
          value="<%= locals?.book?.publication_year || '' %>"
          required
        />
      </div>

      <div class="input__wrapper">
        <label class="input__label" for="pages">
          Number of Pages
          <span class="input__asterisk" aria-hidden="true">*</span>
        </label>

        <input
          class="input__field"
          type="number"
          id="pages"
          name="pages"
          value="<%= locals?.book?.pages || '' %>"
          required
        />
      </div>

      <div class="input__wrapper">
        <label class="input__label" for="description">Description</label>
        <textarea
          id="description"
          name="description"
          class="input__field input__textarea"
          oninput="this.parentNode.dataset.value = this.value"
          rows="1"
        >
          <%= locals?.book?.description || '' %>
        </textarea>
      </div>

      <div class="input__wrapper">
        <label class="input__label" for="secret_password">
          Secret Password
          <span class="input__asterisk" aria-hidden="true">*</span>
        </label>

        <input
          class="input__field"
          type="password"
          id="secret_password"
          name="secret_password"
          required
        />
      </div>
    </div>

    <button class="btn btn--primary" type="submit">
      <%= actionCapitalized %> Book
    </button>
  </form>
</div>

<script src="/scripts/book-form.js"></script>
