<% const isFilled = locals.recentlyAddedBooks &&
locals.recentlyAddedBooks.length > 0; %>

<div class="container home">
  <div class="home__hero">
    <div class="home__hero-content">
      <h1 class="home__title">
        <!-- prettier-ignore-start -->
        <%= isFilled 
          ? "👋 Welcome back to your book collection!"
          : "👋 Your digital bookshelf is waiting!"
        %>
        <!-- prettier-ignore-end -->
      </h1>

      <p class="home__description">
        <!-- prettier-ignore-start -->
        <%= isFilled
          ? "Explore, refine, and expand your personal book collection - one title at a time."
          : "Add your first book to begin organizing your personal archive."
        %>
        <!-- prettier-ignore-end -->
      </p>

      <a href="/book/add" class="btn btn--icon btn--primary home__btn">
        <img src="/assets/icons/add.svg" alt="" width="24" height="24" />
        Add a book
      </a>
    </div>

    <img
      class="home__img"
      src="/assets/images/welcome.png"
      alt=""
      width="900"
      height="900"
    />
  </div>

  <% if (isFilled) { %>
  <div class="home__recent">
    <h2 class="home__subtitle">Recently Added</h2>
    <ul class="book-list">
      <% locals.recentlyAddedBooks.forEach((book) => { %>
      <li class="book-list__item">
        <a class="book-list__link" href="/book/<%= book.id %>">
          <img
            class="book-list__img"
            src="<%= book.cover %>"
            alt="<%= book.title %> by <%= book.author %>"
            loading="lazy"
            width="180"
            height="275"
          />
        </a>
      </li>
      <% }); %>
    </ul>
    <% }; %>
  </div>
</div>
